$blue: #324157;
$light-blue: #3A71A8;
$red: #C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$panGreen: #30B08F;


$menuText: #bfcbd9;
$menuActiveText: #409EFF;
// 这是一级标题下面的二级标签被点击后，一级标题显示的颜色
$subMenuActiveText: #ffffff;

$menuBg: #2F4F4F;
//鼠标悬浮后的颜色 #fa7475;
$menuHover: #00868B;

// 这是整个侧边栏的颜色 
$subMenuBg: #2f4f4f;
$subMenuHover: #409EFF;

$sideBarWidth: 210px;


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}